main {
    display: block;
    margin: 1rem 2%;

    section {
        background-color: $mainColor2;
        margin: 1rem 0;
        border-bottom: 3px solid $accentColor2;
        border-radius: 10px;

        h2 {
            color: $accentColor1;
        }


        .employment p {
            border-bottom: 2px dashed $mainColor1;
            padding: 0 0 0.5rem 0;
        }
    }


}

aside {
    display: block;
    margin: 1rem 0.5rem;

    section {
        background-color: $mainColor2;

        margin: 1rem 0;
        border-bottom: 3px solid $accentColor2;
        border-radius: 10px;

        h2 {
            color: $accentColor1;
        }

        img {
            width: 20px;
            padding: 0.5rem 0.25rem;
        }






    }

    section.contact {
        margin: 1rem 0;
        padding-bottom: 2rem;

        ul {
            list-style-type: none !important;

            li {
                list-style-type: none !important;

                margin: 1rem;
                padding: 0.5rem;
                max-height: 16.8px;
                transition: all 0.25s;
            }

            li:hover {
                transform: scale(1.1);
            }
        }
    }
}








.box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



@media screen and (min-width: 1100px) {
    main {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1.5rem;
    }

    section {
        grid-column: 1 / -1 span 1;
        padding: 1rem;
    }

    section:hover {
        box-shadow: 0 3px 15px grey;
    }

    .employment {
        grid-column: span 2;
    }

    aside {
        grid-column: 3 / -1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: flex-start;
    }

    .contact {
        grid-column: -3 / -1;
    }

    .contact ul {
        padding-inline-start: 0 !important;
    }

    .box ul li {
        margin-left: 0;
    }
}